Django
aioitertools
appnope
argon2-cffi
asgiref
astunparse
attrs
backcall
beautifulsoup4
bleach
brewer2mpl
cachetools
certifi
cffi
debugpy
decorator
defusedxml
django-allauth
django-cors-headers
django-crispy-forms
django-filter
djangorestframework
dnspython
emmett
entrypoints
flatbuffers
fonttools
future
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
gym-notices
h11
h2
h5py
hpack
httptools
hyperframe
idna
imageio
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
jmespath
joblib
jsonschema
kiwisolver
latexcodec
libclang
lxml
matplotlib
matplotlib-inline
mistune
monty
mpmath
msgpack
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
numpy
oauthlib
opencv-python
opt-einsum
orjson
packaging
palettable
pandas
pandocfilters
parso
pendulum
pexpect
pickleshare
pip
plotly
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pyDAL
pyaes
pyasn1
pyasn1-modules
pybtex
pycparser
pydantic
pydash
pymongo
pyparsing
pyrsistent
python-constraint
python-dateutil
python-json-logger
python-RapidJSON
pytz
pytzdata
pyzmq
qtconsole
renoir
requests
requests-oauthlib
rs
ruamel.yaml
ruamel.yaml.clib
scikit-image
scikit-learn
seekpath
sentinels
sentry-sdk
setuptools
severus
six
sniffio
soupsieve
spglib
sqlparse
sympy
tabulate
tenacity
termcolor
terminado
testpath
tf-estimator-nightly
threadpoolctl
tifffile
tornado
tqdm
traitlets
typing-extensions
uncertainties
urllib3
uvicorn
uvloop
wcwidth
