Django
Markdown
MarkupSafe
PyNaCl
PyWavelets
PyYAML
Pygments
QtPy
Send2Trash
Werkzeug
absl-py
aioitertools
appnope
argon2-cffi
asgiref
astunparse
attrs
seaborn
backcall
bleach
brewer2mpl
cachetools
certifi
cffi
charset-normalizer
click
cycler
debugpy
decorator
defusedxml
django-allauth
django-cors-headers
django-crispy-forms
django-filter
djangorestframework
dnspython
emmett
entrypoints
flatbuffers
fonttools
future
gast
grpcio
gunicorn
h11
h2
h5py
hpack
httptools
hyperframe
idna
imageio
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
jmespath
joblib
jsonschema
kiwisolver
latexcodec
libclang
lxml
mistune
monty
mpmath
msgpack
matplotlib
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
numpy
opt-einsum
orjson
packaging
palettable
pandas
pandocfilters
parso
pendulum
pexpect
pickleshare
pip
plotly
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pyDAL
pyaes
pyasn1
pyasn1-modules
pybtex
pycparser
pydantic
pyparsing
pyrsistent
pytz
pytzdata
pyzmq
qtconsole
renoir
requests
rs
ruamel.yaml
ruamel.yaml.clib
scikit-image
scikit-learn
scipy
seekpath
sentinels
sentry-sdk
setuptools
severus
six
sniffio
soupsieve
spglib
sqlparse
sympy
