{% extends 'base.html' %}
{% block head %}
{% load static %}

<link rel="stylesheet" href="{% static 'home_style.css' %}" type="text/css">
<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
{% endblock head %}
{% block nav %}
{% load crispy_forms_tags %}

<nav id="navbar">
  <a href="">Home</a>
  <a href="form/">Calculator</a>
  <a href="about/">About</a>
  <a href="login/">Login</a>
</nav>

{% endblock nav %}
{% block content %}
{% load crispy_forms_tags %}


  <p><h1>Welcome to Reliable Odds Calculator</h1><br>We (Dharmik, Sriram & Wallace have created a Reliable Odds for our Grade 12 Computer Science for the Team Project!)</p>


<section id="Extra Sources">
  <!-- <a href="https://codepen.io/frcodecamp" target="_blank">Show all</a> -->

  <div class="tiles">
    <div class="project-tile">
      <a href="https://borrowell.com/free-credit-score?utm_source=ShareResults&utm_medium=Referral&utm_campaign=a-28336b-24214c-&finteltag=a-28336b-24214c-" target="_blank">
      <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fimages.ctfassets.net%2Fufihiutbamyi%2F22s6tSK0mU10xmisjWyK35%2F6402676a09e26b625fa38f39518322c0%2FBorrowell_logo_no_tagline_colour.png%3Fw%3D1157%26h%3D263%26q%3D50%26fm%3Dpng&imgrefurl=https%3A%2F%2Fborrowell.com%2F&tbnid=fRs5E_V5oPQQhM&vet=12ahUKEwiRh6qa2o73AhU9sXIEHYuPAggQMygDegUIARDIAQ..i&docid=XCSG4144ijYPyM&w=1157&h=263&q=borrowell&ved=2ahUKEwiRh6qa2o73AhU9sXIEHYuPAggQMygDegUIARDIAQ" alt="Borrowell" class="responsive">
      <div>Link to companies</div>
      </a>
    </div>
  </div>

  <div class="project-tile">
    <a href="https://code  pen.io/frcodecamp/full/LrbzpV" target="_blank">
    <img src="https://codepen.io/frcodecamp/pen/LrbzpV/image/small.png" alt="freeCodeCamp : Build a Technical Documentation Page" class="responsive">
    <div>Name of company</div>
    </a>
  </div>

  <div class="project-tile">
    <a href="https://codepen.io/frcodecamp/full/LrVPgP" target="_blank">
    <img src="https://codepen.io/frcodecamp/pen/LrVPgP/image/small.png" alt="freeCodeCamp : Build a Survey Form" class="responsive">
    <div>Name of company</div>
    </a>
  </div>

  <div class="project-tile">
    <a href="https://codepen.io/frcodecamp/full/ZROoPN" target="_blank">
    <img src="https://codepen.io/frcodecamp/pen/ZROoPN/image/small.png" alt="freeCodeCamp : Build a Product Landing Page" class="responsive">
    <div>freeCodeCamp : Build a Product Landing Page</div>
    </a>
  </div>

</section>

<section id="profile">
  <h1>  </h1>
  <p>We are adding some new features!!:)</p>
    <a id="profile-link" href="https://www.freecodecamp.org/frcodecamp" target="_blank">FCC</a>
  </div>
</section>

<section id="copyright">
  <h1> Mr. Seidel </h1>
</section>

<img src="{% static 'images/1-tumor.jpeg' %}" height="40" width="40" alt="tumour">



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock content %}